<html>
    <head>
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
                  
    </head>
    
    
    <body>
        <nav>
            <div class="nav-wrapper">
              <a href="#" class="brand-logo">{{analyzed.name}} - Analysis</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
              </ul>
            </div>
          </nav>


          <div class="row">
              <div class="col m8 offset-m2 s12">
                  <div class="card">
                      <div class="card-content">
                          <span class="card-title"><a href='{% url "profile" id=users.0.id %}'>{{ users.0.name}}</span>
                          <p>Compatibility:  {{compatibilities.0}} %</p>
                          <p>Distance:  {{ distance.0 }} miles</p>
                          <p>{{ users.0.intro }}</p>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row">
                <div class="col m8 offset-m2 s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title"><a href='{% url "profile" id=users.1.id %}'>{{ users.1.name}}</span>
                            <p>Compatibility:  {{compatibilities.1}} %</p>
                            <p>Distance:  {{distance.1}} miles</p>
                            <p>{{ users.1.intro }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col m8 offset-m2 s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title"><a href='{% url "profile" id=users.2.id %}'>{{ users.2.name}}</span>
                            <p>Compatibility:  {{compatibilities.2}}%</p>
                            <p>Distance:  {{distance.2}} miles</p>
                            <p>{{ users.2.intro }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col m8 offset-m2 s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title"><a href='{% url "profile" id=users.3.id %}'>{{ users.3.name}}</span>
                            <p>Compatibility:  {{compatibilities.3}} %</p>
                            <p>Distance:  {{distance.3}} miles</p>
                            <p>{{ users.3.intro }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col m8 offset-m2 s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title"><a href='{% url "profile" id=users.4.id %}'>{{ users.4.name}}</span>
                            <p>Compatibility:  {{compatibilities.4}} %</p>
                            <p>Distance:  {{distance.4}} miles</p>
                            <p>{{ users.4.intro }}</p>
                        </div>
                    </div>
                </div>
            </div>

    
    <div class="row">
            <div class="col-xs-4">
            {%for exer in exercises%}
                <h2>{{exer.name}}</h2>
                <p><a href= {{exer.link}} class="btn btn-success">Learn More &raquo;</a></p>
            </div>
            {%endfor%}
            <div class="col-xs-4">
    </div>

    </body>
</html>