<html>
    <head>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
                  
    </head>
    
    
    <body>
        <nav>
            <div class="nav-wrapper">
              <a href="#" class="brand-logo">postly</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
              </ul>
            </div>
          </nav>
          
        {% for post in posts %}
            <div class="row">
                <div class="col m8 offset-m2 s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{ post.intro}}</span>
                            <p>{{ post.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </body>
</html>