<html>
    <head>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
                  
    </head>
    
    
    <body>
        <nav>
            <div class="nav-wrapper">
              <a href="#" class="brand-logo">{{analyzed.name}}</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
              </ul>
            </div>
          </nav>


          <div class="row">
              <div class="col m8 offset-m2 s12">
                  <div class="card">
                      <div class="card-content">
                          <span class="card-title">{{ users.0.name}}</span>
                          <p>Compatibility:  {{compatibilities.0}}%</p>
                          <p>{{ users.0.intro}}</p>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row">
                <div class="col m8 offset-m2 s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{ users.1.name}}</span>
                            <p>Compatibility:  {{compatibilities.1}}%</p>
                            <p>{{ users.1.intro}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col m8 offset-m2 s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{ users.2.name}}</span>
                            <p>Compatibility:  {{compatibilities.2}}%</p>
                            <p>{{ users.2.intro}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col m8 offset-m2 s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{ users.3.name}}</span>
                            <p>Compatibility:  {{compatibilities.3}}%</p>
                            <p>{{ users.3.intro}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col m8 offset-m2 s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{ users.4.name}}</span>
                            <p>Compatibility:  {{compatibilities.4}}%</p>
                            <p>{{ users.4.intro}}</p>
                        </div>
                    </div>
                </div>
            </div>



    </body>
</html>